<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Cleanup</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.649810349395-e7t8aupmkomc54tbp4jqg3et7cnkh76s</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.sanjana.cleanupclone.widget</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>cleanup</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>649810349395-e7t8aupmkomc54tbp4jqg3et7cnkh76s.apps.googleusercontent.com</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSContactsUsageDescription</key>
	<string>Cleanup needs access to your contacts to find and merge duplicates.</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Cleanup needs calendar access to find old events you may want to remove.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to unlock your Secret Space faster.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Cleanup needs permission to save compressed exports and private vault media.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Cleanup needs access to your photos to detect duplicates, screenshots, and large media.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
